
i{
    font-size: 48px;
}

[box-id]{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.3s;
}
[box-id].active{
    border:  solid 5px red;
    box-shadow: 0 0 20px red;
    transition: 0s;
}

#msg{
    font-size: 36px;
    text-align: center;
}